.blog-post {
    img {
        background-repeat: no-repeat;
        height: 350px;
        width: 100%;
    }

    .page-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 20px;
        column-gap: 15px;
    }

    .three {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .one {
        grid-template-columns: 1fr;
    }
}