.blog-post {
    img {
        background-repeat: no-repeat;
        height: 350px;
        width: 100%;
    }

    .page-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 20px;
        column-gap: 15px;

        @media screen and (max-width: 680px) {
            grid-template-columns: 1fr;
            column-gap: 0px;
            padding-bottom: 0px;
        }
    }

    .three {
        grid-template-columns: 1fr 1fr 1fr;
        @media screen and (max-width: 680px) {
            grid-template-columns: 1fr;
        }
    }
    
    .one {
        grid-template-columns: 1fr;
    }

    .title {
        font-size: 2em;
    }
    .comments-container a {
        padding: 4px;
        font-size: 1.1em;
        text-decoration: none;
        color: rgb(247, 248, 183);

        &:hover {
            color: rgb(247, 248, 100);
        }
    }
    .comment {
        padding: 15px;
    }
}